In [1]:
    print("helo")

helo

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/performance.csv', encoding='cp949')

In [4]:
df

,GENDER,TEAM,EDUCATION,TRAINING,ACHIEVEMENT,ABILITY,ATTITUDE
0,female,B,bachelor's degree,none,72,72,74
1,female,C,some college,completed,69,90,88
2,female,B,master's degree,none,90,95,93
3,male,A,associate's degree,none,47,57,44
4,male,C,some college,none,76,78,75
...,...,...,...,...,...,...,...
995,female,E,master's degree,completed,88,99,95
996,male,C,high school,none,62,55,55
997,female,C,high school,completed,59,71,65
998,female,D,some college,completed,68,78,77
999,female,D,some college,none,77,86,86

In [5]:
# GET TEAM
df[['TEAM']]

    TEAM
0      B
1      C
2      B
3      A
4      C
..   ...
995    E
996    C
997    C
998    D
999    D

[1000 rows x 1 columns]

In [6]:
df['TEAM']

0      B
1      C
2      B
3      A
4      C
      ..
995    E
996    C
997    C
998    D
999    D
Name: TEAM, Length: 1000, dtype: object

In [7]:
import torchaudio

In [8]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [9]:
factorial(5)

120

In [10]:
factorial(4)/(factorial(2)*factorial(4-2))

6.0

In [11]:
def combination(n, x):
    result = factorial(n)/(factorial(x)*factorial(n-x))
    return result

In [12]:
combination (4, 2)

6.0

In [13]:
n=100
e = (1+1/n)**n
e

2.7048138294215285

In [14]:
n = 1000
e = (1+1/n)**n
e

2.7169239322355936

In [15]:
n = 10000
e = (1+1/n)**n
e

2.7181459268249255

In [16]:
n = 100000
e = (1+1/n)**n
e

2.7182682371922975

In [17]:
n = 100000000000000
e = (1+1/n)**n
e

2.716110034087023

In [18]:
x = [4, 2, 8, 9, 3]

In [19]:
min = min(x)
min

2

In [20]:
min_arg = x.index(min)
min_arg

1

In [21]:
import numpy as np
min = np.min(x)
min

2

In [22]:
min_arg = np.argmin(x)
min_arg

1